body {
  user-select: none;
}

.no-border {
  border-collapse: collapse;
}

.square {
  width: 72px;
  height: 72px;
  text-align: center;
  user-select: none;
}

.light {
  background-color: #FFCE9E;
}

.dark {
  background-color: #D18B47;
}

.piece {
  cursor: move;
}